.intro{
    max-width: 720px;
    width: calc(100% - 256px);
    margin: 0 auto 0 148px;
    padding: 0px 0px 92px 0px;
}

@media screen and (max-width: 1024px){
    .intro{
        max-width: 690px;
        width: calc(100% - 48px);
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px){
    .intro{
        max-width: 720px;
        margin: 0 auto;
        width: calc(100% - 48px);
        padding: 0px 0px 88px 0px;
    }
}

@media screen and (max-width: 480px){
    .intro{
        max-width: 288px;
        width: calc(100% - 32px);
        padding: 0px 0px 64px 0px;
    }
}