.cover{
    width: calc(100% - 96px);
    margin: 0px auto;
    padding: 0px 0px 92px 0px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .cover{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover{
        padding: 0px 0px 88px 0px;
    }
}

@media screen and (max-width: 320px) {
    .cover{
        padding: 0px 0px 64px 0px;
    }
}