.place__website{
    align-self: flex-end;
}

@media screen and (max-width: 320px) {
    .place__website{
        align-self: flex-start;
        margin-bottom: 32px;
        margin: 0 auto 32px;
        width: calc(100% - 32px);
    }
}