.intro__title{
    margin: 0px 0px 40px 0px;
    padding: 0px;
    line-height: 107%;
    font-size: 54px;
    font-weight: 900;
}

@media screen and (max-width: 320px){
    .intro__title{
        line-height: 109%;
        font-size: 32px;
    }
}
